{% extends "base.html" %}

{% block title %}All Posts{% endblock %}

{% block content %}
<h1>Home</h1>

{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.commentary }}</p>
            <p><strong>Author:</strong> {{ post.creator }} | <strong>Priority:</strong> {{ post.priority }}</p>
            <p><small>Created: {{ post.creation_date }}</small></p>
            <button class="btn btn-info">Comentar</button>
        </div>
    </div>
{% endfor %}

{% endblock %}
